#addbtn {
    margin: 15px;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

#contain-launch {
    text-align: center;
}

#launchbtn {
    margin-top: 15px;
    margin-bottom: 15px;
}

#select-template {
    margin-left: 15px;
    margin-right: 15px;
}